html {
	background: #8fd3f4;
	background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?dpr=1&auto=format&fit=crop&w=1080&h=720&q=80&cs=tinysrgb&crop=');
	background-size: cover;
	height: 100%;
	min-height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cee1ed', endColorstr='#85b2d3',GradientType=0 ); /* IE6-9 */
	color:#000;
	padding:20px;
}

#lists div {
	min-height:80px!important;
}

select {
	display:block;
	margin-bottom:10px;
	margin-top:10px;
}

.bg-primary {
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	color:#000!important;
}
.dlt-task-btn,
.dlt-list-btn {
	float:right;
	font-size:.8rem!important;

}

.waves-button-input {
	font-size:.8rem!important;
}

#wrapper {
	width: 80%;
	margin:0 auto;
	clear:both;
}

form, #lists div {
	background: rgba(255,255,255,.85);
	padding:20px 30px;
	margin:0 2% 2% 0;
}

.top-header {
	color:#fff;
}

.right {
	text-align:right;
	font-size:.8rem;
	color:#000;
	margin-top:20px;
	margin-bottom:20px;
}

li {
	margin-top:30px!important;
}

form, #lists div {
	padding-top: 20px;
}

section {
	padding:20px 0;
}

#lists {
	clear:both;
}


label {
	color:#666;
	text-transform:uppercase;
	font-size:.8rem;
}


.destroy-task:hover, .destroy-list:hover {
	background:#333;
	color:#f00;
	box-shadow: 2px 2px 0px rgba(255,0,0,.5);
}

h1 {
	text-transform: uppercase;
	padding-bottom:30px;
	font-size:2rem;
}

li {
	list-style:none;
	color:#000;
	font-size: 18px;
	font-weight: normal;
	margin:0 0 5px 0;

}


#lists h2 {
	font-size: 2em;
	color: #26558b;
	line-height: 22px;
	margin-bottom: 10px;
}


@media only screen and (max-width: 992px) {
	.container  {
		width:90%;
	}

}
